mixin php()
  - var prevBuf = buf
  - buf = []
  - block()
  - var blockResult = buf.join('')
  - buf = prevBuf
  != blockResult.replace(/\?><\?php/g, '')

mixin php-wrap()
  <?php 
  block
  ?>
mixin php-html()
  +php-wrap
    |{
  block
  +php-wrap
    |}
mixin php-function(name, args)
  +php-wrap
    |!{name} (!{args}) 
  +php-html
    block

mixin if(condition)
  +php-function('if', condition)
    block
mixin else()
  +php-wrap
    |else 
  +php-html
    block

mixin switch(condition)
  +php-wrap
    |switch(!{condition}) 
  +php-html
    block
mixin case(variant)
  +php-wrap
    |case (!{variant}) :
  +php-html
    block
  +php-wrap
    |break;
mixin default()
  +php-wrap
    |default :
  +php-html
    block
  +php-wrap
    |break;

mixin foreach(condition)
  +php-function('foreach', condition)
    block

mixin set(name, value)
  +php-wrap
    |$!{name} = !{value};

- function v(str) {
-   str = str.split('|')
-   var variable = '$' + str.shift().replace(/\./g, '->')
-   str.forEach(function(func){
-     variable = func + '(' + variable + ')'
-   })
-   return '<?=' + variable + ';?>'
- }
